*{
    margin;0;
    padding:0;
}
.header{
    height:100vh  
}
.navbar-style{
    box-shadow:0 5px 10px #1d86e1;
    background-color:#124fa4;
}
.logo{
    height:48px;
    padding:2px 10px;
    padding-left:5px
}
.icon-bar{
    background:#fdde37; 
}
li a{
    color:white;
    font-weight:bold;
}
.container h1{
    text-align:center;
    color:#1d86e1;
    margin:30px 0 50px;
    font-family:inherit;
    font-weight:bold;
}
.container h2{
    text-align:center;
    color:#f8be2c;
    margin:30px 0 50px;
    font-family:cursive;
    font-weight:bold;
}
.gallery{
    margin:10px 50px;
}
.gallery img{
    width:230px;
    padding:5px;
    filter:grayscale(100);
    transition:1s;
}
.gallery img:hover{
    filter:grayscale(0);
    transform:scale(1.1);
}

