*{
    margin:0;
    paddding:0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)),url(Background.JPG);
    background-size: cover;
    background-position: center;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C37B87;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

.container{
    width: 100%;
    padding: 180px 0;
    text-align: center
}

.container p a{
    text-decoration: none;
    color: #fff;
}

.banner2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)),url(DSC_3812.JPG);
    background-size: cover;
    background-position: center;
}

.container2{
    width: 100%;
    padding: 120px 0;
    text-align: left
}
    
.container2 {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
}


.container2 b{
    margin-left: 20px;
    margin-right: 20px;
}

.container2 p{
    margin-left: 20px;
    margin-right: 20px;
}

.banner3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)),url(IMG_4704.JPG);
    background-size: cover;
    background-position: center;
}

.banner4{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)),url(DSC_9189.JPG);
    background-size: cover;
    background-position: center;
}

.banner5{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50), rgba(0,0,0,0.50)),url(DSC_0278.JPG);
    background-size: cover;
    background-position: center;
}

span{
    background:#C37B87;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

button: hover span{
    width: 100%;
}

button:hover{
    border: none;
}